<!DOCTYPE html>
<html lang="ru-RU">
<head>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>	<title>WOODCARD - дерев'яні подарунки</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=480">
    <meta name="description" content="Серце WoodCard - чудовий подарунок до Дня Святого Валентина">
    <link rel="shortcut icon" href="./heart2/favicon.png" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="./heart2/assets_pages/land/css/reset.css">
    <link rel="stylesheet" type="text/css" href="./heart2/assets_pages/land/js/slider/owlCarousel-2.2.1/owl.carousel.min.css">
    <link rel="stylesheet" type="text/css" href="./heart2/css/styles.css?v=2">
    <!--[if lt IE 9]>
    <![endif]-->
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="WoodCard"/>
    <meta property="og:description" content="Серце WoodCard - чудовий подарунок до Дня Святого Валентина"/>


    <!-- Facebook Pixel Code -->
    <script>
        !function(f,b,e,v,n,t,s)
        {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};
            if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
            n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];
            s.parentNode.insertBefore(t,s)}(window,document,'script',
            'https://connect.facebook.net/en_US/fbevents.js');
        fbq('init', '176975496398514');
        fbq('track', 'PageView');
    </script>
    <noscript>
        <img height="1" width="1"
             src="https://www.facebook.com/tr?id=176975496398514&ev=PageView
&noscript=1"/>
    </noscript>
    <!-- End Facebook Pixel Code -->

    <!-- Yandex.Metrika counter -->
    <script type="text/javascript" >
        (function (d, w, c) {
            (w[c] = w[c] || []).push(function() {
                try {
                    w.yaCounter47952224 = new Ya.Metrika2({
                        id:47952224,
                        clickmap:true,
                        trackLinks:true,
                        accurateTrackBounce:true,
                        webvisor:true
                    });
                } catch(e) { }
            });

            var n = d.getElementsByTagName("script")[0],
                s = d.createElement("script"),
                f = function () { n.parentNode.insertBefore(s, n); };
            s.type = "text/javascript";
            s.async = true;
            s.src = "https://mc.yandex.ru/metrika/tag.js";

            if (w.opera == "[object Opera]") {
                d.addEventListener("DOMContentLoaded", f, false);
            } else { f(); }
        })(document, window, "yandex_metrika_callbacks2");
    </script>
    <noscript><div><img src="https://mc.yandex.ru/watch/47952224" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-110410745-2"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());

        gtag('config', 'UA-110410745-2');
    </script>

</head>
<body>
<div class="heart-spinner-wrap">
    <div class="heart-spinner">
        <div class="loader"></div>
    </div>
</div>
<div class="main_wrapper">
    <!-- fixed block -->
    <div class="fixed_section">
        <div class="fixed_block clearfix">
            <h3>WOODCARD</h3>
            <a class="button" href="#order">Замовити зараз</a>
        </div>
    </div>
    <!-- /fixed block -->
    <!-- offer -->
    <div class="offer_section">
        <div class="offer_title">
            <h1>УНІКАЛЬНА ВАЛЕНТИНКА З ВАШИМ ФОТО</h1>
            <p>НА ДЕРЕВІ ТА ПІДСТАВКОЮ</p>
        </div>
        <img src="./heart2/images/offer_top.jpg" alt="Серце WoodCard">
    </div>
    <!-- /offer -->
    <!-- use steps 1.1 -->
    <section class="list_section use_steps1">
        <div class="title_block">
            <h2>Серце WoodCard - чудовий подарунок до Дня Святого Валентина</h2>
        </div>
        <div class="list1 image110x110">
            <div class="list_item clearfix">
                <div class="image_block">
                    <div class="image_wrapper">
                        <img src="./heart2/images/use1_image1.jpg" alt="Серце WoodCard">
                    </div>
                </div>
                <div class="text_block">
                    <h4>Ваша фотографія друкується прямо по дереву</h4>
                    <p>що додає валентинці крафтовості та ефектності</p>
                </div>
            </div>
            <div class="list_item clearfix">
                <div class="image_block">
                    <div class="image_wrapper">
                        <img src="./heart2/images/use1_image2.jpg" alt="Серце WoodCard">
                    </div>
                </div>
                <div class="text_block">
                    <h4>Підставка у комплекті</h4>
                    <p>дає змогу поставити валентинку вдома чи на роботі та насолоджуватися нею кожного дня.</p>
                </div>
            </div>
            <div class="list_item clearfix">
                <div class="image_block">
                    <div class="image_wrapper">
                        <img src="./heart2/images/use1_image3.jpg" alt="Серце WoodCard">
                    </div>
                </div>
                <div class="text_block">
                    <h4>Виготовляється з високоякісного дерева</h4>
                    <p>друкується та обробляється за спеціальною технологією, завдяки чому зображення не тускнішає роками!</p>
                </div>
            </div>
        </div>
    </section>
    <!-- /use steps 1.1 -->
    <!-- order 1.1 -->
{#    <section class="order_section in-blue_title">#}
{#        <div class="title_block">#}
{#            <h2>Замовити <i>валентинку WoodCard</i></h2>#}
{#        </div>#}
{#        <div class="order_block">#}
{#            <div class="select-status">Обирайте розмір, завантажуйте фотографію - та очікуйте дзвінка нашого оператора.</div>#}
{#            <form class="main-order-form order_form" action="/order" method="post">#}
{#                <input class="field" type="text" name="name" placeholder="Введите Ваше имя" required>#}
{#                <input class="field" type="tel" name="phone" placeholder="Введите Ваш телефон" required>#}
{#                <button class="button">Замовити зараз</button>#}
{#                <input type="hidden" name="l" value="d3ba736caa3397fd5490238c9b6df66359d96506" />#}
{#                <input type="hidden" name="9d496c032c315148ca3ac6a66f36180d9d95d7dc" value="Njk3OTNjMGFlMDAwYzg0MGQwMmYzOGE3MzQzZGYwMWI0NzM=" />#}
{#            </form>#}
{#            <p class="deadline_text">Кількість по спеціальній ціні обмежена</p>#}
{#        </div>#}
{#    </section>#}
    <!-- /order 1.1 -->
    <!-- description -->
    <section class="description_section">
        <div class="title_block">
            <h2>WoodCard — валентинка, яка подарує безліч емоцій</h2>
        </div>
        <div class="content_block">
            <img class="post_image" src="./heart2/images/description_image.jpg" alt="Кукольный домик">
            <div class="in-stats_block">
                <div class="icons clearfix">
                    <div class="icon like_icon"></div>
                    <div class="icon comment_icon"></div>
                    <div class="icon send_icon"></div>
                    <div class="icon share_icon"></div>
                </div>
                <div class="likes_count">Нравится: 12 016</div>
            </div>
            <div class="text_block">
                <p>Серце WoodCard — оригінальний подарунок до Дня Святого Валентина. Виготовляється індивідуально для Вас з високоякісного дерева.</p>
                <p>Маємо два розміри на вибір - 20 см чи 26 см, підставка у комплекті. Доставляємо Новою поштою по Україні. Оплата наложеним платежем чи на карту Приват Банку.</p>
            </div>
            <div class="list3 marker1">
                <div class="list_item">Валентинка виготовлена з екологічно чистої березової фанери та обробляється високоякісними матеріалами, тому не має неприємного запаху та безпечна для алергіків.</div>
                <div class="list_item">Зображення друкується прямо по дереву за спеціальною термотехнологією, завдяки чому не втрачає якості та стильно виглядає!</div>
                <div class="list_item">Підставка у комплекті дозволяє поставити вашу валентинку на будь-яку поверхню та насолоджуватися нею кожного дня!</div>
            </div>
            <div class="vk-stats_block clearfix">
                <div class="count likes_count">Нравится 12 016</div>
                <div class="count share_count">478</div>
                <div class="count view_count">312К</div>
            </div>
            <div class="ok-stats_block clearfix">
                <div class="counts">
                    <div class="count likes_count">12 016</div>
                    <div class="count share_count">Поделились 478</div>
                </div>
                <div class="buttons">
                    <div class="button share_button">Поделиться</div>
                    <div class="button like_button">Класс!</div>
                </div>
            </div>
            <div class="in-date">2 недели назад</div>
        </div>
    </section>
    <!-- /description -->
    <section class="description_section catalog">
        <div class="title_block">
            <h2>Обери свою валентинку WoodCard!</h2>
        </div>
        <div class="content_block">
            <div class="cat-cont">
                <div class="cat-item">
                    <div class="cat-gal owl-carousel">
                        <img src="./heart2/images/cat-1-1.jpg" alt="">
                        <img src="./heart2/images/cat-1-2.jpg" alt="">
                        <img src="./heart2/images/cat-1-3.jpg" alt="">
                        <img src="./heart2/images/cat-1-4.jpg" alt="">
                    </div>
                    <h3 class="cat-title">Серце L</h3>
                    <ul class="cat-detail">
                        <li>&ndash; Розмір: 20х19 см </li>

                        <li>&ndash; Підставка у комплекті</li>
                    </ul>
                    <div class="cat-cost clearfix">
                        <span class="cost old-cost">399грн</span>
                        <span class="cost new-cost">299грн</span>
                    </div>
                    <a href="#order" class="button-m" >Заказать</a>
                </div>
                <!--Третий вариант домика только для РУ и КЗ -->
                <div class="cat-item">
                    <div class="cat-gal owl-carousel">
                        <img src="./heart2/images/cat-2-1.jpg" alt="">
                        <img src="./heart2/images/cat-2-2.jpg" alt="">
                        <img src="./heart2/images/cat-2-3.jpg" alt="">
                        <img src="./heart2/images/cat-2-4.jpg" alt="">
                    </div>
                    <h3 class="cat-title">Серце XXL</h3>
                    <ul class="cat-detail">
                        <li>&ndash; Розмір: 26х24 см</li>
                        <li>&ndash; підставка у комплекті</li>
                    </ul>
                    <div class="cat-cost clearfix">
                        <span class="cost old-cost">499грн</span>
                        <span class="cost new-cost">399грн</span>
                    </div>
                    <a href="#order" class="button-m" >Заказать</a>
                </div>
            </div>
        </div>
    </section>
    <!-- image -->
    <section class="description_section">
        <div class="title_block">
            <!--		<h2>Посмотрите как можно играть!</h2>
                </div>
                <div class="content_block">
                    <div class="image_section">
                        <img src="images/image.jpg" alt="Кукольный домик">
                    </div>
                </div>
            </section>
            reviews 1 -->
            <section class="reviews1_section">
                <div class="title_block">
                    <h2>Відгуки наших клієнтів</h2>
                    <!-- 		</div>
                            <div class="content_block">
                                <div class="author_block">
                                    <div class="avatar">
                                        <img src="images/review1_avatar.jpg" alt="Кукольный домик">
                                    </div>
                                    <div class="author_info">
                                        <div class="name">Марина Квасова</div>
                                        <div class="text">г. Нижний Новгород</div>
                                    </div>
                                </div>
                                <img class="post_image" src="images/review1_photo.jpg" alt="Кукольный домик">
                                <div class="in-stats_block">
                                    <div class="icons clearfix">
                                        <div class="icon like_icon"></div>
                                        <div class="icon comment_icon"></div>
                                        <div class="icon send_icon"></div>
                                        <div class="icon share_icon"></div>
                                    </div>
                                    <div class="likes_count">Нравится: 243</div>
                                </div>
                                <div class="text_block">
                                    <p>Вчера получили кукольный домик, он оказался просто волшебным! Дочка с удовольствием играет, не отрываясь. Детали аккуратные и гладкие. Конструктор собрали очень быстро, в комплекте была понятная инструкция. Я, если честно, думала, что сам домик внутри будет меньше, но он очень просторный! Выполнен качественно, дочь в восторге — что еще требуется от простой игрушки?</p>
                                </div>
                                <div class="vk-stats_block clearfix">
                                    <div class="count likes_count">Нравится 243</div>
                                    <div class="count share_count">24</div>
                                    <div class="count view_count">2.1К</div>
                                </div>
                                <div class="ok-stats_block clearfix">
                                    <div class="counts">
                                        <div class="count likes_count">243</div>
                                        <div class="count share_count">Поделились 24</div>
                                    </div>
                                    <div class="buttons">
                                        <div class="button share_button">Поделиться</div>
                                        <div class="button like_button">Класс!</div>
                                    </div>
                                </div>
                                <div class="in-date">3 дня назад</div>
                            </div>
                            <div class="content_block">
                                <div class="author_block">
                                    <div class="avatar">
                                        <img src="images/review2_avatar.jpg" alt="Кукольный домик">
                                    </div>
                                    <div class="author_info">
                                        <div class="name">Ирина Горбунова</div>
                                        <div class="text">г. Ростов-на-Дону</div>
                                    </div>
                                </div>
                                <img class="post_image" src="images/review2_photo.jpg" alt="Кукольный домик">
                                <div class="in-stats_block">
                                    <div class="icons clearfix">
                                        <div class="icon like_icon"></div>
                                        <div class="icon comment_icon"></div>
                                        <div class="icon send_icon"></div>
                                        <div class="icon share_icon"></div>
                                    </div>
                                    <div class="likes_count">Нравится: 169</div>
                                </div>
                                <div class="text_block">
                                    <p>У нас этот домик уже давно, и до сих пор он не надоел, как это случилось со всеми остальными игрушками! Мы его раскрасили и обставили мебелью, получилось очень красиво. Для меня важно и то, что домик деревянный, безопасный. Он именно такой, о каком я мечтала в детстве. Я очень рада, что у детей сейчас есть возможность играть с такими игрушками!</p>
                                </div>
                                <div class="vk-stats_block clearfix">
                                    <div class="count likes_count">Нравится 169</div>
                                    <div class="count share_count">18</div>
                                    <div class="count view_count">1.8К</div>
                                </div>
                                <div class="ok-stats_block clearfix">
                                    <div class="counts">
                                        <div class="count likes_count">169</div>
                                        <div class="count share_count">Поделились 18</div>
                                    </div>
                                    <div class="buttons">
                                        <div class="button share_button">Поделиться</div>
                                        <div class="button like_button">Класс!</div>
                                    </div>
                                </div>
                                <div class="in-date">5 дней назад</div>
                            </div>
                            <div class="content_block">
                                <div class="author_block">
                                    <div class="avatar">
                                        <img src="images/review3_avatar.jpg" alt="Кукольный домик">
                                    </div>
                                    <div class="author_info">
                                        <div class="name">Александр Порошков</div>
                                        <div class="text">г. Москва</div>
                                    </div>
                                </div>
                                <img class="post_image" src="images/review3_photo.jpg" alt="Кукольный домик">
                                <div class="in-stats_block">
                                    <div class="icons clearfix">
                                        <div class="icon like_icon"></div>
                                        <div class="icon comment_icon"></div>
                                        <div class="icon send_icon"></div>
                                        <div class="icon share_icon"></div>
                                    </div>
                                    <div class="likes_count">Нравится: 336</div>
                                </div>
                                <div class="text_block">
                                    <p>Я всегда дарю своему ребенку только развивающие и качественные игрушки. Домик из дерева именно такой: он развивает фантазию, моторику, а также полностью безопасен. Ну и, конечно, лучше натуральных материалов для детских игрушек ничего быть не может. Отдельное спасибо магазину, посылка пришла очень быстро, где-то в течение недели, все детали были на месте и выполнены качественно.</p>
                                </div>
                                <div class="vk-stats_block clearfix">
                                    <div class="count likes_count">Нравится 336</div>
                                    <div class="count share_count">84</div>
                                    <div class="count view_count">2.9К</div>
                                </div>
                                <div class="ok-stats_block clearfix">
                                    <div class="counts">
                                        <div class="count likes_count">336</div>
                                        <div class="count share_count">Поделились 84</div>
                                    </div>
                                    <div class="buttons">
                                        <div class="button share_button">Поделиться</div>
                                        <div class="button like_button">Класс!</div>
                                    </div>
                                </div>
                                <div class="in-date">6 дней назад</div>
                            </div>
                        </section>
                     order info 3 -->
                    <section class="list_section order_info3">
                        <div class="title_block">
                            <h2>Як замовити?</h2>
                        </div>
                        <div class="list1 image70x70 va_middle">
                            <div class="list_item clearfix">
                                <div class="image_block">
                                    <div class="image_wrapper">
                                        <img src="./heart2/icons/order_info3__icon1.jpg" alt="Кукольный домик">
                                    </div>
                                </div>
                                <div class="text_block">
                                    <p>Заповнюйте форму та прикріплюйте фотографію</p>
                                </div>
                            </div>
                            <div class="list_item clearfix">
                                <div class="image_block">
                                    <div class="image_wrapper">
                                        <img src="./heart2/icons/order_info3__icon2.jpg" alt="Кукольный домик">
                                    </div>
                                </div>
                                <div class="text_block">
                                    <p>Очікуйте макет Вашого серця на затвердження.</p>
                                </div>
                            </div>
                            <div class="list_item clearfix">
                                <div class="image_block">
                                    <div class="image_wrapper">
                                        <img src="./heart2/icons/order_info3__icon3.jpg" alt="Кукольный домик">
                                    </div>
                                </div>
                                <div class="text_block">
                                    <p>Отримуйте серце на Вашому відділенні Нової пошти.</p>
                                </div>
                            </div>
                        </div>
                    </section>
                    <!-- /order info 3 -->
                    <!-- order 1.1 -->
                    <section id="order" class="order_section in-blue_title dark_theme">
                        <div class="title_block">
                            <h2>Замовити <i>валентинку WoodCard</i></h2>
                        </div>
                        <div class="order_block">
                            <div class="select-status">Обирайте розмір, завантажуйте фотографію - та очікуйте дзвінка нашого оператора.</div>
                            <form class="main-order-form order_form" action="/order-with-item" method="post" enctype="multipart/form-data">
                                <div class="quantitys">
                                    <div class="quantity">
                                        <input checked class="radio-one" data-product="5" data-price-old="399" data-price="299" type="radio" value="l" name="size">
                                        <label>Серце L 20 см</label>
                                    </div>
                                    <div class="quantity">
                                        <input class="radio-two" data-product="12" data-price-old="499" data-price="399" type="radio" value="xxl" name="size">
                                        <label>Серце XXL 26 см</label>
                                    </div>
                                </div>
                                <div class="block-price">
                                    <div class="price">
                                        <span class="old">1197 грн</span>
                                        <i>></i>
                                        <b class="current">699 грн</b>
                                    </div>
                                </div>
                                <input class="field" type="text" name="name" placeholder="Ім’я та прізвище*" required>
                                <input class="field" type="tel" name="phone" placeholder="Номер телефону*" required>

                                <div class="client-info-photo-container">
                                    <h2 class="client-info-photo-title">Завантажити фото:</h2>

                                    <div class="client-info-photo photo-one">
                                        <b style="position: absolute;top: 14px;left: 50px;">+</b>
                                        <img>
                                        <input class="user-images user-image-one" type="file" name="files[]" accept="image/*">
                                    </div>
                                </div>
                                <button class="button">Замовити</button>

                                <input name="product_id" type="hidden" value="5">
                                <input name="product_price" type="hidden" value="1">
                                <input name="utm_source" type="hidden" value="{{ utm_source }}">
                                <input name="utm_medium" type="hidden" value="{{ utm_medium }}">
                                <input name="utm_term" type="hidden" value="{{ utm_term }}">
                                <input name="utm_content" type="hidden" value="{{ utm_content }}">
                                <input name="utm_campaign" type="hidden" value="{{ utm_campaign }}">

                            </form>
                            <p class="deadline_text">Кількість по спеціальній ціні обмежена</p>
                        </div>
                    </section>
                    <!-- /order 1.1 -->
                    <!-- footer -->
                    <footer>
                        Телефонуйте і пишіть нам на Viber  <br> (099)063-39-19 <br>
                        <a target="_blank" href="politics.html">Політика конфіденційності</a><br>
                    </footer>
                    <!-- /footer -->
                </div>
                <!-- scripts -->

                <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>

                <script src="./heart-landing/plugins/inputmask/jquery.inputmask.bundle.min.js"></script>

                <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
                <script src="./heart2/assets_pages/land/js/youtube/previewYouTube.js"></script>
                <script src="./heart2/assets_pages/land/js/slider/owlCarousel-2.2.1/owl.carousel.min.js"></script>

                <script src="./heart2/js/jquery.cookie.js"></script>
                <script src="./heart2/js/scripts.js?v=2"></script>
                <!-- /scripts -->
</body>
</html>